[submodule "ARM_Pipeline_WithCache_FullForwarding_WithControlHazardHandling"]
	path = ARM_Pipeline_WithCache_FullForwarding_WithControlHazardHandling
	url = https://github.com/mrz-gh/CA_Lab_Spring2023.git
